@import "tailwindcss";
html,body{
    height: 100vh;
    max-height: 100vh;
}

body::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

#root{
    height: 100vh;
}